.Avengers {
  background-image: url("https://www.cnet.com/a/img/resize/8024623be93eb0272c10329aeec6b90e6a8c2ebb/hub/2019/04/25/9277c764-601d-4ab3-85f9-9c39d7f1ac5a/avengers-endgame-promo-crop.jpg?auto=webp&fit=crop&height=630&width=1200");
  width: 100;
  height: 100;
}
